body {
  padding-top: 100px;
}

.card-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #999; 
  overflow: hidden;
}

.card__image {
  margin-bottom: 20px;
}

.card__info {
  padding-bottom: 20px;
}

.card__info-row {
  padding: 10px 5px;
}