.card-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #999; 
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card__image {
  margin-bottom: 10px;
  max-height: 200px;
  overflow: hidden;
}

.card__image img {
  max-width: 100%;
}

.card__info {
  padding-bottom: 10px;
}

.card__info-row {
  padding: 5px 10px;
  font-size: 12px;
}